//color
$color-accent: #18353E;
$color-main: #D62E4C;
$color-gray: rgba(25, 25, 36);
$color-white: #fff;

//container-width
$container-width: 1200px;
$container-padding-x: 20px;

//shadow
$box-shadow-1: 0px 4px 4px 0px rgba(0, 0, 0, 0.11);